#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#


[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
[mysqld_safe]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
nice            = 0
default-character-set=utf8mb4
[mysqld]
max_connections = 5000
skip-host-cache
skip-name-resolve
#skip-grant-tables
group_concat_max_len = 4294967295
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp=false
lower_case_table_names=1
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
log_bin         = mysql-bin
server_id       = 24
#bind-address   = 127.0.0.1
log-error       = /var/log/mysql/error.log
symbolic-links=0
character-set-server=utf8mb4

#主my.conf配置
#GTID:
server_id = 100 #确认要和从库不一样
gtid_mode = on
enforce_gtid_consistency = on    #强制gtid一直性，用于保证启动gitd后事务的安全；

#binlog
log_bin = mysql-bin
log-slave-updates = 1       #在从服务器进入主服务器传入过来的修改日志所使用
binlog_format = row         #推荐采用此模式
sync-master-info = 1        #同步master_info,任何事物提交以后都必须要把事务提交以后的二进制日志事件的位置对应的文件名称，记录到master_info中，下次启动自动读取，保证数据无丢失
sync_binlog = 1             #最好加上这一行。表示binlog进行FSYNC刷盘，同时dump线程会在sync阶段后进行binlog传输
expire_logs_days = 8        #设置binlog保存天数，防止占用太多服务器磁盘空间
max_binlog_size = 512m			#设置binlog文件大小

#relay log
skip_slave_start = 1
relay_log_recovery = 1
master_info_repository = TABLE  	
relay_log_info_repository = TABLE

#!includedir /etc/mysql/conf.d/
#!includedir /etc/mysql/mysql.conf.d/
